@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --avatar-size: 30px;

    --background: 0 0% 6%;
    --foreground: 0 0% 88%;

    --popover: 240 5% 10%;
    --popover-foreground: 0 0% 80%;

    --primary: 240 5% 9%;
    --primary-foreground: 0 0% 94%;

    --secondary: 260 4% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 2% 9%;
    --muted-foreground: 240 2% 20%;

    --accent: 37 91% 75%;
    --accent-2: 25 92% 51%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 84.2% 48%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 2% 18%;
    --input: 0 0% 25%;
    --ring: 0 0% 98%;

    --radius: 0.75rem;
  }
}

*::selection {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground))
}

@layer base {
  * {
    @apply border-border;
  }
}

.ProseMirror {
  font-variant-ligatures: unset !important;
  font-feature-settings: unset !important;
}

.prose pre {
  white-space: pre-wrap;
}

/* editor */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--muted-foreground));
  font-weight: 400;
  pointer-events: none;
  height: 0;
}

.ProseMirror-gapcursor::after {
  border-top: 1px solid hsl(var(--foreground)) !important;
}

.prose {
  max-width: 100%;
}

.prose pre {
  border-radius: .8rem !important;
  background-color: hsl(0 0% 4%);
}

.prose *:not(code):not(code *) {
  color: hsl(var(--foreground)) !important;
}

.prose img {
  border-radius: .75rem;
}

.prose h1 {
  margin-bottom: .5em;
}

.prose a {
  font-weight: 400;
}

.prose h2 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.prose li p {
  margin-block: .25em;
}

.prose p:empty {
  height: 28px;
}

.prose>:only-child,
.prose>:only-child {
  margin: 0 !important;
}

.prose>:first-child {
  margin-top: 0 !important;
}

.prose>:last-child {
  margin-bottom: 0 !important;
}

.prose a:hover {
  text-decoration: unset !important;
}

.scroll-x {
  scrollbar-width: none;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

@keyframes animate-in {
  0% {
    background-color: hsl(var(--accent) / .1);
    border: 1px solid hsl(var(--accent) / .5);
  }

  60% {
    background-color: hsl(var(--accent) / .1);
    border: 1px solid hsl(var(--accent) / .5);
  }

  100% {
    border: 1px solid hsl(var(--border) / .3);
    background-color: hsl(var(--muted));
  }
}

.animate-in-note {
  animation: animate-in 4s ease-in-out;
}